body,
html {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Source Sans 3', sans-serif;
}

.top-section-wrapper {
  overflow: hidden;
  background-color: #001D37;
  padding-left: 16px;
  padding-right: 16px;
}

.top-section {
  position: relative;
  color: white;
  padding-top: 139px;
  padding-bottom: 139px;
  max-width: 1066px;
  margin: 0 auto;
}

/* look inside the top-section and look for h1 */
.top-section h1 {

  font-size: 6.25rem;
  margin: 0;
  line-height: 97.3%;
  max-width: 32.8125rem;
}

.intro-text {
  max-width: 27.185rem;
  font-size: 1.25rem;
  line-height: 169.3%;
  margin: 1rem 0;
}

.intro-features {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* 4 fr represent kar rahe humme ek line mein kitne columns chahiye fr stands for fraction sabka yaha 1 fr hona indicate karta hain humaari given width ko equal space mein cut karna */
  column-gap: 16px;
  /* spacing between columns*/
}

.intro-feature {

  border: rgba(255, 255, 255, 0.24) solid 1px;
  padding: 33px 25px;
}

.intro-feature p {
  margin: 0;
  font-size: 1.0625rem;

}

.our-btn {
  /* 
    anchor elements inline hote hain jo margin hain usko puch karna hota hain kisi
    against but voh inline elements ke against ni kar skta toh voh issliye usse block
    mein convert kara jaata hain  
  */
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: #475AFF;
  border: #475AFF solid 2px;
  color: white;
  padding: 13px 25px;
  text-decoration: none;
  border-radius: 100px;

}

.manage-btn {
  background-color: #001D37;
  border: white solid 2px;
}

.utility-mr {
  margin-right: 10px;
}

.intro-buttons {
  margin-bottom: 129px;
}

.intro-feature h2 {
  margin: 35px 0px 4px 0px;
  font-size: 1.5rem;
  line-height: 97.3%;
}

.circle {
  height: 38.5625rem;
  width: 38.5625rem;
  background-color: rgba(214, 96, 255, 0.85);
  border-radius: 38.5625rem;
  filter: blur(150px);
  /* absolute reference leta hain nearest ancestor ka */
  position: absolute;
  top: 62px;
  right: -390px;

}

.blue-circle {
  background-color: #6079FF;

  left: 67px;
  top: -360px;
}

.top-content {
  z-index: 5;
  position: relative;
}

/* ---------------PETS-SECTION--------------------*/

.page-section {
  background-color: white;
  padding: 130px 16px;
}

.page-section-inner {
  max-width: 1060px;
  margin: 0 auto;
}

.page-section-title {
  margin: 0;
  font-size: 5.3125rem;
  line-height: 97.3%;

}

.pet-filter {
  color: #9F9F9F;
  font-size: 1.375rem;
}

.pet-filter button {
  color: #9F9F9F;
  background-color: transparent;
  border: none;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.375rem;
}

footer {
  text-align: center;
  color: #A6A6A6;
  font-size: 0.875rem;
  margin: 0;
  padding: 0 0 65px 0;
}

.list-of-pets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 28px;
  column-gap: 34px;
}

.pet-card {
  overflow: hidden;
  display: grid;
  grid-template-columns: 165px 1fr;
  border-radius: 20px;
  border: 1px solid #f3f3f3;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.pet-card-photo {
  order: 1;
  grid-row: 1;

}

.pet-card-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 
    agar description bada hota hain kisi pet ka  
    toh photo apne aap adjust hojaayegi without 
    leaving any white spaces 
  */
  display: block;
}

.pet-card-text {
  padding-top: 21px;
  padding-left: 29px;
  padding-right: 38px;
}

.pet-card-text h3 {
  font-size: 1.625rem;
  font-weight: 600;
  margin: 0 0 13px 0;
}

.pet-description {
  line-height: 150%;
  margin: 0 0 1rem 0;
  color: #626262;
}

.pet-age {
  font-size: 0.85rem;
  color: #A2A2A2;
  margin: 0;
}